{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reminders{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('reminder.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for reminder in reminders %}
    <article class="post">
      <header>
        <div>
          <h1>{{ reminder['title'] }}</h1>
          <div class="about">by {{ reminder['username'] }} on {{ reminder['created'].strftime('%Y-%m-%d') }} <br>
          Review Date: {{ reminder['due'].strftime('%Y-%m-%d') if reminder['due'] else 'Not set' }}
          </div>
          
        </div>
        {% if g.user['id'] == reminder['author_id'] %}
          <a class="action" href="{{ url_for('reminder.update', id=reminder['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ reminder['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}