{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ reminder['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or reminder['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or reminder['body'] }}</textarea>
    <label for="review_date">Review Date | Current Date: {{request.form['due'] or reminder['due']}}</label>
    <input type="date" name="due" id="due" value="{{ request.form['due'] or reminder['due'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('reminder.delete', id=reminder['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}